<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
</head>
<body>

<header>
    <%- include('../partials/header') %>
    <h2>Books Result</h2>
</header>
<!-- inspired from a review of C Nichols file -->
<% books.forEach( item => { %>
    <div class="resultsContainer">
        <img src="<%= item.image %>">
        <h2><%= item.title %></h2>
        <h3><%= item.authors %></h3>
        <p><%= item.description %></p>
        <!-- <h4><%= item.isbn %></h4> -->
        <!-- <h6><%= books.bookshelves %></h6> -->
         <!-- <form action="/books" method="POST"> -->
            <input type="hidden" name="image_url" value="<%= item.image %>">
            <input type="hidden" name="title" value="<%= item.title %>">
            <input type="hidden" name="authors" value="<%= item.authors %>">
            <input type="hidden" name="summary" value="<%= item.description%>">
            <!-- <input type="hidden" name="isbn" value="<%= item.isbn %>"> -->
            <!-- <button type="submit">View Details</button> -->
        <!-- </form>  -->
        
        <!-- <form action="/books" method="POST"> -->
            <input type="hidden" name="image_url" value="<%= item.image %>">
            <input type="hidden" name="title" value="<%= item.title %>">
            <input type="hidden" name="authors" value="<%= item.authors %>">
            <input type="hidden" name="summary" value="<%= item.description%>">
            <!-- <input type="hidden" name="isbn" value="<%= item.isbn %>">
            <button type="submit">Save This Book</button> -->
        <!-- </form> -->
    </div>
    <% }) %>


<footer>
    <%- include('../partials/footer') %>
</footer>

</body>
</html>